<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let nameCount of nameCount" [ngClass]="getRowClass(nameCount.count)">
      <td>{{ nameCount.name }}</td>
      <td>{{ nameCount.count }}</td>
    </tr>
  </tbody>
</table> -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Count</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let nameCount of nameCount" [ngClass]="getRowClass(nameCount.count)">
      <td>{{ nameCount.name }}</td>
      <td>{{ nameCount.count }}</td>
    </tr>
    
  </tbody>
</table>